<!DOCTYPE html>
<html>
<head>
  <title>カレンダー</title>
</head>
<body>
  <h1>カレンダー</h1>
  <table border="1">
    <tr>
      <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
    </tr>
    <% weeks.forEach(week => { %>
      <tr>
        <% week.forEach(day => { %>
          <td><%= day || '' %></td>
        <% }) %>
      </tr>
    <% }) %>
  </table>
</body>
</html>