<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>TODOリスト</h1>
  <p>ユーザー: <%= user.name %></p>

  <form action="/todo/add" method="POST">
    <input type="text" name="content" placeholder="新しいタスクを入力" required>
    <button type="submit">追加</button>
  </form>

  <ul>
    <% if (tasks.length === 0) { %>
      <li>タスクはありません。</li>
    <% } else { %>
      <% tasks.forEach(function(task) { %>
        <li><%= task.content %>
        <% if(!task.done) { %>
          <form action="/todo/done/<%= task.id %>" method="POST" style="display:inline;">
            <button type="submit">完了</button>
          </form>}
        <% } else { %>
          <span style="color:green;">[完了]</span>
        <% } %>
        </li>
      <% }); %>
    <% } %>
  </ul>

  <a href="/home">ホームへ戻る</a>
</body>
</html>
